
h1,h4{
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    color: royalblue;
    background-color:black;
}
body{
    background-image: url('../img/background-page.jpg')
     
} 