
h1,h4{
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    color: royalblue;
    background-color:black;
}
body {
    background-image: url('../img/background-page.jpg');
} 

.images{
    width: 100;
    height: 100;
    margin: auto;
    box-align: center;
}